body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: url("download.jpg");
  background-size: cover;
  font-size: x-large;
  text-align: center;
  color: aliceblue;
  font-weight: bolder;
}
h1 {
  color: goldenrod;
}
#message-el {
  font-style: italic;
}
button {
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  padding: 5px;
  font-weight: bolder;
  border: none;
  border-radius: 2px;
  margin-bottom: 4px;
}
